<div class="container bg-success p-3 rounded">
<div class="wrapper text-center">
<h2 class="text-light">Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field m-4">
   <%= f.label :name ,class: "text-light form-label fw-bold" %>
   <br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name",class: "w-50 p-2 rounded" %>
  </div>

  <div class="field mb-3">
    <%= f.label :email ,class: "text-light form-label fw-bold" %><br />
    <%= f.email_field :email, autocomplete: "email",class: "w-50 p-2 rounded" %>
  </div>

  <div class="field">
    <%= f.label :password ,class: "text-light form-label fw-bold" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password",class: "w-50 p-2 rounded" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation ,class: "text-light form-label fw-bold" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "w-50 p-2 rounded" %>
  </div>

  <div class="actions mt-4 mb-4">
    <%= f.submit "Sign up",class:"btn btn-outline-light w-25", type:"submit" %>
  </div>
  <% end %>
  <div class="row justify-content-center">
    <p class="col-3 text-light">Do you already have an account?</p>
  <div class="col-1"><%= render "devise/shared/links"%></div>
</div>
</div>
</div>